img {
  width: 15.5rem;
}

.card img {
  margin-top: -2rem;
  /*   border: 2px rgb(127, 25, 42) solid; */
}

.card-green img {
  margin-top: -0.7rem;
}

body {
  background-color: #131313;
}

h1 {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  color: rgba(255, 255, 255, 0.243);
}
.container {
  /*  position: relative; */
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 2rem;
}

.container .card,
.container .card-green,
.container .card-blue {
  position: relative;
  width: 16rem;
  height: 25rem;
  background: #232323;
  border-radius: 1.2rem;
  overflow: hidden;
}

.container .card:before,
.container .card-green:before,
.container .card-blue:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #db3f35;
  clip-path: circle(135px at 90% 20%);
  transition: 1s ease-in-out;
}
.container .card-green:before {
  background: #5bddc2;
}

.container .card-blue:before {
  background: #073376;
}

.container .card:hover:before,
.container .card-green:hover:before,
.container .card-blue:hover:before {
  clip-path: circle(300px at 80% -20%);
}

.container .card:after,
.container .card-green:after,
.container .card-blue:after {
  content: "New";
  position: absolute;
  top: 40%;
  font-size: 8.5em;
  left: -10%;
  font-weight: 800;
  font-style: italic;
  color: rgba(255, 255, 255, 0.04);
}

.container .card .imgBx,
.container .card-green .imgBx,
.container .card-blue .imgBx {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10000;
  width: 100%;
  height: 13.7rem;
  transition: 1s;
}

.container .card-blue .imgBx {
  top: 38%;
}

.container .card:hover .imgBx,
.container .card-green:hover .imgBx,
.container .card-blue:hover .imgBx {
  top: 0;
  transform: translateY(0);
  transition: 1s;
}

.container .card-blue:hover .imgBx {
  top: -12%;
}

.container .card .imgBx img,
.container .card-green .imgBx img,
.container .card-blue .imgBx img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%) rotate(-25deg);
}

.container .card .contentBx,
.container .card-green .contentBx,
.container .card-blue .contentBx {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 7.5rem;
  text-align: center;
  transition: 0.5s;
  z-index: 10;
}
.container .card:hover .contentBx,
.container .card-green:hover .contentBx,
.container .card-blue:hover .contentBx {
  height: 13.5rem;
}

.container .card .contentBx h2,
.container .card-green .contentBx h2,
.container .card-blue .contentBx h2 {
  position: relative;
  height: 7.5rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
}

.container .card .contentBx .size,
.container .card-green .contentBx .size,
.container .card-blue .contentBx .size {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 8px 10px; */
}

.container .card .contentBx .size h3,
.container .card-green .contentBx .size h3,
.container .card-blue .contentBx .size h3 {
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 10px;
}

.container .card .contentBx .size span,
.container .card-green .contentBx .size span,
.container .card-blue .contentBx .size span {
  width: 1.5rem;
  height: 1.6rem;
  text-align: center;
  line-height: 1.6rem;
  font-size: 14px;
  display: inline-block;
  color: #111;
  background: #fff;
  border-radius: 2px;
  margin: 0 5px;
  transition: 0.5s;
  cursor: pointer;
}

.container .card .contentBx span:hover,
.container .card .contentBx .link:hover {
  background: #db3f35;
}

.container .card-green .contentBx span:hover,
.container .card-green .contentBx .link:hover {
  background: #5bddc2;
}

.container .card-blue .contentBx span:hover,
.container .card-blue .contentBx .link:hover {
  background: #073476;
}

.container .card .contentBx .link,
.container .card-green .contentBx .link,
.container .card-blue .contentBx .link {
  position: relative;
  background: #fff;
  border-radius: 2px;
  width: 30%;
  left: 55%;
  top: 2rem;
  font-size: small;
  text-decoration: none;
  transition: none;
  transform: none;
}
a {
  text-decoration: none;
}

a:visited {
  color: #111;
}

a:active {
  color: white;
}
/* .container .card .contentBx .link:hover {
  background: #db3f35;
} */

/* .container .card-green .contentBx .link:hover {
  background: #5bddc2;
} */

/* .container .card-blue .contentBx .link:hover {
  background: #073476;
}
 */
